@font-face {
  font-family: "Aktiv Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AktivGroteskCorp-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Aktiv Grotesk Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/AktivGroteskCorp-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Compacta";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/CompactaPlain.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #16251C;
  --second-bg-color: #101010;
  --text-color: #7B917B;
  --second-text-color: #B32428;
  --main-color: #7B917B;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-family: "Aktiv Grotesk Bold", sans-serif;
  font-weight: 700;
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  background: linear-gradient(
    270deg,
    #B32428 10%,
    #791519 100%
  );
  background-clip: text;
  color: transparent;
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
  text-transform: uppercase;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(
    270deg,
    #B32428 10%,
    #791519 100%
  );
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  text-wrap: nowrap;
  font-family: "Aktiv Grotesk Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.gradient-btn:hover {
  transform: scale(1.05);
}

section {
  min-height: 100vh;
  padding: 10rem 15%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  font-family: "Aktiv Grotesk", sans-serif;
  font-weight: 400;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.home-content h1{
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
  font-family: "Aktiv Grotesk Bold", sans-serif;
}

.home-content h3 {
  margin: 1rem 0;
  font-size: 4rem;
}

.home-content p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
}

.home-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}

.bx {
  color: #B32428;
}

.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--text-color);
  background: var(--main-color);
  transform: scale(1.2)translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}

.btn-group {
  display: flex;
  gap: 1.5rem;
}

.btn {
  display: inline-flex;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25 var(--main-color),
              0 0 50px var(--main-color);
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25 var(--main-color);
  background-color: var(--main-color);
  color: black;
}

/* .about  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color);
}

.about-img img{
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}

.about-content h2 {
  font-size: 7rem;
  text-align: left;
}

.about-content p {
  font-size: 1.8rem;
}

.about-content .btn {
  margin: 3rem 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color)
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color)
} */

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color); /* Темный фон */
  min-height: 100vh;
  padding: 5rem 10%;
  font-family: "Aktiv Grotesk Bold", sans-serif;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Фото, контент, стек */
  gap: 2rem;
  align-items: start;
}

.about-img img {
  width: 350px; /* Размер фото */
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-img img:hover {
  transform: scale(1.05); /* Лёгкое увеличение */
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}

.about-content {
  max-width: 600px;
}

.about-content h2 {
  font-size: 4rem;
  color: var(--main-color);
  margin-bottom: 1.5rem;
}

.about-content h2 span {
  color: var(--second-text-color); /* Красный акцентный цвет */
}

.about-content p {
  font-size: 1.6rem;
  color: var(--text-color);
  line-height: 1.8;
  margin-bottom: 1.5rem;
  font-family: "Aktiv Grotesk", sans-serif;;
}

.about-content .btn {
  display: flex;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  color: #fff;
  background: var(--main-color); /* Основной цвет */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  text-transform: uppercase;
  margin-top: 50px;
  justify-content: center;
  min-width: 200px;
  text-align: center;
  font-size: large;
  font-family: "Aktiv Grotesk Bold", sans-serif;
}

.about-content .btn:hover {
  background: var(--second-text-color); /* Цвет при наведении */
  transform: translateY(-3px);
}

/* Стек технологий */
.tech-stack {
  text-align: left;
}

.tech-stack h3 {
  font-size: 2.5rem;
  color: var(--main-color);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.stack-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.stack-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tech-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tech-info i {
  font-size: 4rem;
}

.tech-info p {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: bold;
}

.level-bar {
  flex: 1;
  height: 15px;
  background: #555; /* Серый фон */
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.level {
  height: 100%;
  border-radius: 8px;
  transition: width 0.5s ease-in-out;
}

/* Цвета для уровней знаний */
.level.excellent {
  width: 100%;
  background: #4caf50; /* Зеленый */
}

.level.good {
  width: 75%;
  background: #ffeb3b; /* Желтый */
}

.level.medium {
  width: 50%;
  background: #ff9800; /* Оранжевый */
}

.level.beginner {
  width: 30%;
  background: #f44336; /* Красный */
}

.heading {
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}

.services {
  background-color: var(--bg-color);
  color: black;
  font-family: "Aktiv Grotesk Bold", sans-serif;
}

.services h2 {
  color: var(--text-color);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
}

.service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 600px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}

.service-box:hover {
  background: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.service-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
}

.service-info h4 {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 800;
}

.service-info p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}

.service-info i {
  font-size: 8rem;
}

.projects {
  background-color: var(--bg-color);
  font-family: "Aktiv Grotesk Bold", sans-serif;
}

.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease;
  min-height: 550px;
  max-height: 550px;
}

.project-card:hover {
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color);
  transform: scale(1.02);
}

.project-card img {
  max-width: 300px;
  border-radius: 2em;
  object-fit: cover;
}

.project-card h3 {
  font-size: 3rem;
}

.project-card p {
  font-size: 1.6rem;
  font-family: "Aktiv Grotesk", sans-serif;;
}
.project-card .btn {
  font-size: 2rem;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: none;
  text-align: center;
  width: auto;
  align-self: center;
}
/* CONTACT */

.contact {
  background-color: var(--bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--main-color);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  margin: 1.5rem 0;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  resize: none;
}

.footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
  font-family: "Aktiv Grotesk Bold", sans-serif;;
}

.footer .social-icons {
  text-align: center;
}

.footer ul {
  text-align: center;
  font-size: 1.8rem;
}

.footer ul li {
  display: inline-flex;
  margin-left: 20px;
}

.footer ul li a {
  color: var(--second-text-color);
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
} 

.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

@media(max-width: 1285px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }
  .navbar.active {
    display: block;
  }
  .gradient-btn {
    display: none;
  }
  .home{
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }
  .home-content {
    align-items: center;
    text-align: center;
  }
  .home-img img {
    width: 56vw;
  }
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }
  .about img {
    width: 52vw;
  }
  .contact form {
    flex-direction: column;
  }
}

